@import '../color.scss';

.aboutMeSection {
	margin: 5% 0;

	.AboutMeInner {
		display: flex;
		flex-direction: row;
		background-color: $sectionBackdrop;
		border-radius: 30px;
		border: 1px solid black;
		height: 40vh;

		.selfDescription {
			p {
				justify-self: center;
				border: 1px solid green;
			}
		}

		#image {
			img {
				height: 100%;
				border-radius: 30px;
				box-shadow: 4px 8px #008b74;
			}
		}
	}
}
