@import '../color.scss';

.aboutMe {
  display: flex;
  flex-direction: column;
  background-color: $sectionBackdrop;
  border-radius: 30px;

  .innerAboutMe {
    display: flex;
    flex-direction: row;
    height: 35vh;

    .selfDescription {
      p {
        justify-self: center;
        border: 1px solid green;
      }
    }

    #image {
      img {
        height: 100%;
        border-radius: 30px;
        box-shadow: 4px 8px #008b74;
      }
    }
  }
}
