@import '../color.scss';

.contact {
	width: 100%;

	.socialIcons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		background-color: $sectionBackdrop;
		border-radius: 30px;
		padding: 2%;
		box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px;

		ul {
			position: relative;
			display: flex;
			justify-content: space-evenly;
			margin-top: 4%;
		}

		ul li {
			position: relative;
			list-style: none;
			width: 4rem;
			height: 4rem;
			margin: 2.2rem 2.2rem;
			border: 1px solid black;
		}

		ul li span {
			border-radius: 10px;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: 0.5s;
			display: flex !important;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-size: 3rem;
		}
		@media (min-width: 1000px) {
			//*Icon Stack Hover State
			ul li:hover span {
				box-shadow: 1px 1px 1px 1px
					rgba(0, 0, 0, 0.2);
			}

			ul li:hover span:nth-child(6) {
				transform: scale(1.2);
				opacity: 1;
			}
			ul li:hover span:nth-child(5) {
				transition-delay: 0.2s;
				transform: scale(1.2) rotate(45deg);
				background-color: #fff;
				border-radius: 1px;
				opacity: 1;
			}
			ul li:hover span:nth-child(4) {
				transform: translate(20px, -20px);
				transition-delay: 0.05s;
				border-radius: 40px;
				opacity: 0.6;
			}
			ul li:hover span:nth-child(3) {
				transform: translate(-20px, 20px);
				border-radius: 40px;
				transition-delay: 0.05s;
				opacity: 0.6;
			}
			ul li:hover span:nth-child(2) {
				transform: translate(-20px, -20px);
				border-radius: 40px;
				transition-delay: 0.05s;
				opacity: 0.6;
			}
			ul li:hover span:nth-child(1) {
				transform: translate(20px, 20px);
				border-radius: 40px;
				transition-delay: 0.05s;
				opacity: 0.6;
			}
		}

		//*Icon Stack Colors
		ul li:nth-child(1) span {
			background: #de5246;
		}
		ul li:nth-child(2) span {
			background: #0072b1;
		}
		ul li:nth-child(3) span {
			background: #00acee;
		}
		ul li:nth-child(4) span {
			background: #171515;
		}
		ul li:nth-child(5) span {
			background: #3f729b;
		}
	}
}


//*Tablet Styling
@media (max-width: 850px) {
	.contact {
		.socialIcons {
			ul {
				flex-wrap: wrap;
				margin-top: 2rem;
			}
			ul li {
				margin: 1rem;
			}
			ul li span {
				box-shadow: 1px 1px 1px 1px
					rgba($primaryText, 0.1);
			}
		}
	}
}

//*Phone Styling
@media (max-width: 414px) {
	.contact {
		.socialIcons {
			box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
			padding: 2% 4%;
		}
	}
}
