@import '../color';

.footer {
  background-color: $headerName;
  text-align: center;
  margin-bottom: 0;

  p {
    padding: 1rem;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width:850px){
  .footer {
    p {
      padding: .5rem;
    }
  }
}