@import '../color.scss';

.headerSection {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	img {
		margin-top: -2%;
		width: 100%;
	}

	a {
		display: flex;
		align-items: center;
		width: fit-content;
		padding: 0.2% 1%;
		background-color: rgba($headerName, 0.55);
		backdrop-filter: blur(2px);
		position: fixed;
		z-index: 999;
		border-bottom-left-radius: 30px;
		text-decoration: none;
		color: $primaryText;
		text-shadow: 1px 1px $background;
	}
}

//*Macbook Styling
@media (max-width: 1440px) {
	.headerSection {
		img {
			margin-top: -4%;
		}
	}
}

//*Tablet Styling
@media (max-width: 850px) {
	.headerSection {
		img {
			margin-top: 0;
		}
		a {
			padding: 0.6% 2%;
		}
	}
}

//*Phone Styling
@media (max-width: 414px) {
	.headerSection {
		a {
			padding: 0.5% 2% 0.5% 3%;
			height: 5%;
		}
	}
}
