@import '../color.scss';

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 5% 5% 5%;
  width: 80%;
}

@keyframes fromLeft {
  from {
    transform: translateX(-150px) skew(-5deg);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(150px) skew(5deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .leftAnimation {
    animation: fromLeft 0.5s 1 ease-out;
  }
  .rightAnimation {
    animation: fromRight 0.5s 1 ease-out;
  }
}


//*Phone Styling
@media (max-width: 414px) {
  #homeContent {
    width: 90%;
  }
}
