$primaryText: #0c0c0c;
$background: #f9f3ed;
$headerText: #101720;
$navbar: #1a9682;
$sectionBackdrop: #dabf92;
$sectionTitle: #72a0cc;

.introSection {
  display: flex;
  justify-content: center;
  margin: 0 0 5% 0;

  .intro {
    .sectionTitle {
      position: absolute;
    }

    .introDescription {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: $sectionBackdrop;
      height: 80%;
      border-radius: 30px;
      margin: 5% 0 0 5%;

      p {
        text-align: center;
      }
    }
  }
  #introImg {
    img {
      width: 42vw;
      opacity: 0.75;
    }
  }
}
