@import '../color.scss';

.headerSection {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	a {
		display: flex;
		align-items: center;
		width: fit-content;
		padding: 0.2% 1%;
		background-color: rgba($headerName, 0.75);
		backdrop-filter: blur(3px);
		position: fixed;
		z-index: 999;
		border-bottom-left-radius: 30px;
		text-decoration: none;
		color: $primaryText;
	}

	//*Leftover code from when this was a navbar, keeping just in case
	// .links {
	// 	display: flex;
	// 	flex-direction: row;
	// 	width: 60%;
	// 	justify-content: space-evenly;
	// 	text-decoration: none;

	// 	.link {
	// 		text-decoration: none;
	// 		transition: 0.2s ease-in-out;
	// 	}
	// 	.link:hover {
	// 		transform: scale(1.2);
	// 		transition: 0.2s ease-in-out;
	// 	}
	// }
}
