$primaryText: #0c0c0c;
$background: #dce3e8;
$headerText: #101720;
$navbar: #9cb9cd;
$sectionBackdrop: #9f9589;
$sectionTitle: #72a0cc;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: rgba($navbar, 0.85);
  backdrop-filter: blur(3px);
  position: fixed;
  width: 100%;


  h1 {
    font-size: 2rem;
    color: $headerText;
    font-weight: 700;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    text-decoration: none;

    .link {
      text-decoration: none;
    }
  }
}
