@import '../color.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
  background-color: rgba($navbar, 0.85);
  backdrop-filter: blur(3px);
  position: fixed;
  height: 1vh;
  z-index: 999;

  .links {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    text-decoration: none;

    .link {
      text-decoration: none;
      transition: 0.2s ease-in-out;
    }
    .link:hover {
      transform: scale(1.2);
      transition: 0.2s ease-in-out;
    }
  }
}
