$primaryText: #0c0c0c;
$background: #f9f3ed;
$headerText: #101720;
$navbar: #1a9682;
$sectionBackdrop: #dabf92;
$sectionTitle: #72a0cc;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2%;
  background-color: rgba($navbar, 0.85);
  backdrop-filter: blur(3px);
  position: sticky;
  // z-index: 999;

  h1 {
    font-size: 2rem;
    color: $headerText;
    font-weight: 700;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-evenly;
    text-decoration: none;

    .link {
      text-decoration: none;
    }
  }
}
