$primaryText: #0c0c0c;
$background: #f9f3ed;
$headerText: #101720;
$navbar: #1a9682;
$sectionBackdrop: #dabf92;
$sectionTitle: #72a0cc;

.projectsSection {
  margin: 5% 0;

  .projectsContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    // margin: 1rem 0 0 1.5rem;
    padding: 5%;
    background-color: $sectionBackdrop;
    border-radius: 30px;

    .project-tiles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  //*Tablet Styling
  @media (max-width: 1000px) {
    width: 100%;
    padding: 0;
  }

  //*Phone Styling
  @media (max-width: 600px) {
    margin: 0 auto;
    padding: 0;
  }

  //*Large Monitor Styling
  @media (min-width: 1400px) {
  }
}
