@import '../color';

.skillsSection {
	.skills {
		display: flex;
		flex-direction: column;
		background-color: $sectionBackdrop;
		border-radius: 30px;
		.proficientSkillsSection {
			h3 {
				text-align: center;
			}
			img {
				// width: 100px;
				height: 30px;
			}
		}
		.experiencedSkillsSection {
			h3 {
				text-align: center;
			}
		}
	}
}
