@import './color.scss';

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

//Global Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//*BEGIN STYLING Destop first (1440px)
//Main App
body {
  background-color: $background;
  font-family: 'Quicksand', sans-serif;
  font-size: 16pt;
  font-weight: lighter;
  color: $primaryText;
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  background-image: url('../assets/monsteraBackground.jpg');
  background-repeat: no-repeat;
}

//Font Defaults
h1 {
  font-size: 40pt;
  font-weight: bold;
}
h2 {
  font-size: 28pt;
  font-weight: medium;
}
h3 {
  font-size: 24pt;
}
h4 {
  font-size: 20pt;
}
h5 {
  font-size: 18pt;
}

//Section titles
.section {
  margin: 7% auto;
}

.sectionTitle {
  display: flex;
  background-color: $sectionTitle;
  // background-image: url('../assets/monsteraBackground.jpg');
  border-radius: 30px 0 30px 0;
  border: 1px solid $primaryText;
  padding: 0.5% 1%;
  width: max-content;
  position: absolute;
  box-shadow: $primaryText 1px 1px 3px;
}

//*Scrollbar Effects
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: $headerName;
  border-radius: 4px;
}

//!Responsive Stylings

//*Large Monitor styling
@media (min-width: 1441px) {
  h1 {
    font-size: 34pt;
  }
  h2 {
    font-size: 26pt;
  }
  h3 {
    font-size: 22pt;
  }
  h4 {
    font-size: 16pt;
  }
  h5 {
    font-size: 16pt;
  }

  .sectionTitle {
    padding: 0.25% 1%;
  }
}

//*Tablet Styling
@media (max-width: 850px) {
  body {
    font-size: 12pt;
  }

  //Font Defaults Tablet
  h1 {
    font-size: 20pt;
    font-weight: bold;
  }

  h2 {
    font-size: 16pt;
    font-weight: medium;
  }
  h3 {
    font-size: 14pt;
  }
  h4 {
    font-size: 12pt;
  }
  h5 {
    font-size: 10pt;
  }
  .section {
    margin: 7% auto;
  }

  .sectionTitle {
    display: flex;
    background-color: $sectionTitle;
    border-radius: 30px 0 30px 0;
    border: 1px solid $primaryText;
    padding: 1% 2%;
    width: max-content;
    position: absolute;
    box-shadow: $primaryText 0.5px 0.5px 2px;
  }
}
